a.mfbtooltip {
    position: relative;
    text-decoration: none;z-index:3000001;
  }
  a.mfbtooltip:after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 20%;
    background: #35A5F0;
    padding: 5px 15px;
    color: black;
    -webkit-border-radius: 0px;
    -moz-border-radius   : 0px;
    border-radius        : 0px;
    white-space: nowrap;
    opacity: 0;
    -webkit-transition: all 0.1s ease;
    -moz-transition   : all 0.1s ease;
    transition   : all 0.1s ease;
  }
  a.mfbtooltip:before { 
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid #35A5F0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    -webkit-transition: all 0.1s ease;
    -moz-transition   : all 0.1s ease;
    transition   : all 0.1s ease;
    opacity: 0;
    left: 30%;
    bottom: 90%;
  }
  a.mfbtooltip:hover:after {
    bottom: 100%;
  }
  a.mfbtooltip:hover:before {
    bottom: 70%;
  }
  a.mfbtooltip:hover:after, a:hover:before {
    opacity: 1;
  }





a.mfbtooltiprev {
    position: relative;
    text-decoration: none;z-index:3000001;
  }
  a.mfbtooltiprev:after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: 20%;
    background: #35A5F0;
    padding: 5px 15px;
    color: black;
    -webkit-border-radius: 0px;
    -moz-border-radius   : 0px;
    border-radius        : 0px;
    white-space: nowrap;
    opacity: 0;
    -webkit-transition: all 0.1s ease;
    -moz-transition   : all 0.1s ease;
    transition   : all 0.1s ease;
  }
  a.mfbtooltiprev:before { 
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 20px solid #35A5F0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    -webkit-transition: all 0.1s ease;
    -moz-transition   : all 0.1s ease;
    transition   : all 0.1s ease;
    opacity: 0;
    left: 30%;
    top: 90%;
  }
  a.mfbtooltiprev:hover:after {
    top: 100%;
  }
  a.mfbtooltiprev:hover:before {
    top: 70%;
  }
  a.mfbtooltiprev:hover:after, a:hover:before {
    opacity: 1;
  }